

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	border: 0 none;
	
}

.carrossel {
	background: rgb(5, 65, 114);
	width: 100vw;
	height: 100%;
	display: flex;
	overflow: hidden;
	/*opacity: 0.5;*/
}

.carrossel > div {
	background-position: center center;
	background-size: cover;
	width: 100%;
	height: 100%;;
	flex: none;
}

header { 
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	background: rgb(6, 15, 141);
}

main {
	background-color: green;
	overflow: hidden;
	width: 90vw;
	/* margin: ; */
}

main section {
	border: 6px solid black;
}
