* {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
}

body {
  background-color: red;

}

#page1 {
	position:relative;
  background-image: linear-gradient(MidnightBlue, MidnightBlue, SeaGreen);
  height: 1280px;
  width: 100%;
  	display:inline-block;
}

.img {
	display: flex;
	justify-content: center;
	align-items: center;
}

img {
	opacity: 0.3;
}

/*
  animation-name: slide;
  animation-duration: 12s;

@keyframes slide {
  0%   {background-image: url("src/slide1.jpg");}
  25%  {background-image: url("src/slide2.jpg");}
  50%  {background-image: url("src/slide3.jpg");}
  100% {background-image: url("src/slide1.jpg");}
}*/


#page2 {
  background-color:SeaGreen;
  height: 657px;
  width: 100%;
  	position:static;
}

#page3 {
  background-color:SeaGreen;
  height: 657px;
  width: 100%;
  	position:static;
}

#titulo {
	color: aliceblue;
	  text-align: center;
	  padding-top: 18%;
	  font-size: 600%;
	  position: absolute;
	  z-index:2;
}

.logo{
		color: aliceblue;
		margin-right: 2%;
		DISPLAY: INLINE-BLOCK;
		float: right;
		margin-top: 20%;
	}

.textbox {
 position:relative;
 background-color: aliceblue; 
 width: 20%;
 height: 7.5%;
 border-style: double;
 display: flex;
 text-align: center;
  padding-top: 1%;
}


#textbox1 {	
	left: 27.5%;
	top:15%;

}
	
#textbox2 {	
	left: 55%;
	top:20%;

}
	
#textbox3 {	
	left: 35%;
	top:30%;
	width: 25%;
}

#bigtextbox {
	background-color: aliceblue;
	margin-bottom: 15%;
	margin-left: 15%;
	margin-right: 15%;
	width: 64%;
	height: 64%;
	padding: 3%;
	border-radius: 10px;
}

#insc {
	float: right;
	margin-top: 47.5%;
	background-color: lightcoral;
	 transition-duration: 0.4s;
	   cursor: pointer;
}

#insc:hover {
	 box-shadow: 2px 2px 5px black;
}

#insc:active {
	box-shadow: none;

}